/*Import Tailwind's base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom CSS variables in :root */
@layer base {
  :root {
    --background: 228 98.65% 98.26%;
    --foreground: 228 7.3% 0.52%;

    --muted: 228 7.3% 91.3%;
    --muted-foreground: 228 3.65% 41.3%;

    --popover: 228 31.6% 91.3%;
    --popover-foreground: 228 7.3% 0.65%;

    --card: 228 31.6% 91.3%;
    --card-foreground: 228 7.3% 0.65%;

    --border: 228 12.3% 89.52%;
    --input: 228 12.3% 89.52%;

    --primary: 228 73% 13%;
    --primary-foreground: 228 1.46% 91.3%;

    --secondary: 228 3.65% 95.65%;
    --secondary-foreground: 228 5.38% 11.3%;

    --accent: 228 3.65% 95.65%;
    --accent-foreground: 228 5.38% 11.3%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 228 73% 13%;

    --radius: 0.5rem;
    /* Neon blue border color */
    --neon-blue: rgba(30, 144, 255, 0.7); /* Adjust the RGBA values as needed */
  }

  /* Apply Tailwind utilities to global elements */
 Card {
    background: var(--card); /* Apply translucent color */
    border: 2px solid var(--card-foreground); /* Apply neon blue border */
    border-radius: var(--radius); /* Rounded corners */
    padding: 20px; /* Space inside the card */
    color: white; /* Text color */
    box-shadow: 0 0 5px var(--neon-blue), 
                0 0 15px var(--neon-blue), 
                0 0 30px var(--neon-blue); /* Neon glow effect */
  }

  body {
    @apply bg-background text-foreground;
  }

  /* Style for headings */
  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }

  h2 {
    @apply scroll-m-20 text-3xl font-semibold tracking-tight first:mt-0;
  }

  h3 {
    @apply scroll-m-20 text-xl font-medium tracking-tight;
  }

  /* Style for paragraphs */
  p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }

  /* Gradient background text underlay */
  .text-underlay-1 {
    background: linear-gradient(98deg, #d9ff00 -9.47%, #00a49d 65.47%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Hero section with background image */
  .hero {
    background: url("/assets/home/hero-3.png");
    background-position: center;
    background-size: cover;
  }

  /* Custom class for the background gradient */
  .background-gradient {
    @apply absolute inset-0 -z-10 w-full h-full flex items-center px-5 py-24;
    background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
  }
}
