/*Import Tailwind's base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom CSS variables in :root */
@layer base {
  :root {
    --background: 171 38.35% 4.32%;
    --foreground: 171 5.8999999999999995% 97.7%;

    --muted: 171 29.5% 16.200000000000003%;
    --muted-foreground: 171 5.8999999999999995% 55.4%;

    --popover: 171 53.2% 7.0200000000000005%;
    --popover-foreground: 171 5.8999999999999995% 97.7%;

    --card: 255 100% 50%;
    --card-foreground: 171 5.8999999999999995% 97.7%;

    --border: 171 29.5% 16.200000000000003%;
    --input: 171 29.5% 16.200000000000003%;

    --primary: 171 59% 54%;
    --primary-foreground: 171 5.8999999999999995% 5.4%;

    --secondary: 171 29.5% 16.200000000000003%;
    --secondary-foreground: 171 5.8999999999999995% 97.7%;

    --accent: 171 29.5% 16.200000000000003%;
    --accent-foreground: 171 5.8999999999999995% 97.7%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 171 5.8999999999999995% 97.7%;

    --ring: 171 59% 54%;

    --radius: 0.5rem;
    /* Neon blue border color */
    --neon-blue: rgba(30, 144, 255, 0.7); /* Adjust the RGBA values as needed */
  }

  /* Apply Tailwind utilities to global elements */
 Card {
    background: var(--card); /* Apply translucent color */
    border: 2px solid var(--card-foreground); /* Apply neon blue border */
    border-radius: var(--radius); /* Rounded corners */
    padding: 20px; /* Space inside the card */
    color: white; /* Text color */
    box-shadow: 0 0 5px var(--neon-blue), 
                0 0 15px var(--neon-blue), 
                0 0 30px var(--neon-blue); /* Neon glow effect */
  }

  body {
    @apply bg-background text-foreground;
  }

  /* Style for headings */
  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }

  h2 {
    @apply scroll-m-20 text-3xl font-semibold tracking-tight first:mt-0;
  }

  h3 {
    @apply scroll-m-20 text-xl font-medium tracking-tight;
  }

  /* Style for paragraphs */
  p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }

  /* Gradient background text underlay */
  .text-underlay-1 {
    background: linear-gradient(98deg, #d9ff00 -9.47%, #00a49d 65.47%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Hero section with background image */
  .hero {
    background: url("/assets/home/hero-3.png");
    background-position: center;
    background-size: cover;
  }

  /* Custom class for the background gradient */
  .background-gradient {
    @apply absolute inset-0 -z-10 w-full h-full flex items-center px-5 py-24;
    background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
  }
}
